/* Thanks w3schools for the template concepts and lessons */

* {
	box-sizing:	border-box;
	border-radius:	8px;	/* rounded corners */
}

body {
    background-color: honeydew;
	padding: 5px;
}

.header {
	padding:	0px;
	margin:		0px;
	text-align:	center;
	
}
.header h1 {
    color:	navy;
	font-size:	50px;
	margin:	0px;
}


.topnav {
	overflow:	hidden;
	background-color:	#333;
}
.topnav a {
	float:	left;
	display:	block;
	color:	#f2f2f2;
	text-align:	center;
	padding: 8px 16px;
	text-decoration:	none;
	/* No browser supports this at the moment, and likely never
	target-name:	new;
	target-new:	tab;	*/
}
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.leftcolumn {
	float:	left;
	width: 75%;
}
.rightcolumn {
	float:	left;
	width:	25%;
	padding-left:	10px;
}

.card {
	background-color:	#fff;
	padding:	8px;
	margin-top:	5px;
}
.card h2{
	float:	left;
	margin-top:	0.2px;
	margin-bottom:	0.2px;
}
.card h5{
	text-align:	right;
	margin-top: 0.2em;
	margin-bottom:	0.2em;
}
.card p{

}

.row:after {
	content:	"";
	display:	table;
	clear:	both;
}

.footer {
	padding:	2px;
	text-align:	center;
	background: white;
	margin-top:	5px;
}

.img {
	max-width:	100%;
	max-height:	100%;
	height:	auto;
	padding:	5px;
}

/*responsive 800px */
@media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {
		width:	100%;
		padding:	0;
	}
}
/*responsive 400px */
@media screen and (max-width: 400px) {
	.topnav a {
		float:	none;
		width:	100%;
	}
}

